/* ----------- MENU ICONS ------- */
/* line 3, ../sass/admin-style.scss */
#menu-posts .wp-menu-image {
  background: url("../images/building-icon.png") no-repeat 6px -17px !important; }

/* line 8, ../sass/admin-style.scss */
#menu-posts:hover .wp-menu-image,
#menu-posts.wp-has-current-submenu .wp-menu-image {
  background-position: 6px 7px!important; }

/* -------- TO DO PAGE ---------- */
/* line 14, ../sass/admin-style.scss */
#acf-todo-list .version {
  width: 10%; }

/* line 18, ../sass/admin-style.scss */
#acf-todo-list .version_items {
  width: 75% !important; }

/* line 22, ../sass/admin-style.scss */
#acf-todo-list .completed {
  width: 15% !important; }
