/* line 1, ../sass/region-admin.scss */
label {
  display: block; }

/* line 5, ../sass/region-admin.scss */
.fields {
  background-color: #fff;
  display: none;
  padding: 20px;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 360px;
  z-index: 9999; }
  /* line 16, ../sass/region-admin.scss */
  .fields input[type="radio"],
  .fields input[type="checkbox"] {
    margin-right: 5px; }
  /* line 20, ../sass/region-admin.scss */
  .fields input[type="number"] {
    float: right;
    width: 40px; }
  /* line 25, ../sass/region-admin.scss */
  .fields > div {
    width: 45%; }

/* line 30, ../sass/region-admin.scss */
.tile:hover .fields {
  display: block; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="fish"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="fish"] [data-fish="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="arable_land"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="arable_land"] [data-arable_land="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="sheep"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="sheep"] [data-sheep="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="lumber"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="lumber"] [data-lumber="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="coal"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="coal"] [data-coal="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="iron"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="iron"] [data-iron="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="oil"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="oil"] [data-oil="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="uranium"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="uranium"] [data-uranium="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="stone"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="stone"] [data-stone="10"] {
  background-color: #fafafa;
  background-image: none; }

/* line 38, ../sass/region-admin.scss */
[data-overlay="gold"] .tile {
  background-color: #000;
  background-image: none !important; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="1"] {
  background-color: #737373;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="2"] {
  background-color: #828282;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="3"] {
  background-color: #919191;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="4"] {
  background-color: #a0a0a0;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="5"] {
  background-color: #afafaf;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="6"] {
  background-color: #bebebe;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="7"] {
  background-color: #cdcdcd;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="8"] {
  background-color: gainsboro;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="9"] {
  background-color: #ebebeb;
  background-image: none; }
/* line 43, ../sass/region-admin.scss */
[data-overlay="gold"] [data-gold="10"] {
  background-color: #fafafa;
  background-image: none; }
