/* --------- ZOOM LEVEL FOUR ------- */

.zoom-4.home #map {
	height: 480px;
	width: 480px;
}

.zoom-4 #landmass {
	height: 80px;
	width: 80px;
}

.zoom-4 .city.tiny .marker {
	height: 3px;
	width: 3px;
}

.zoom-4 .city.small .marker {
	height: 6px;
	width: 6px;
}

.zoom-4 .city.med .marker {
	height: 9px;
	width: 9px;
}

.zoom-4 .city.large .marker {
	height: 12px;
	width: 12px;
}

/* --------- ZOOM LEVEL FIVE ----- */

.zoom-5.home #map {
	height: 600px;
	width: 600px;
}

.zoom-5 #landmass {
	height: 100px;
	width: 100px;
}

.zoom-5 .city.tiny .marker {
	height: 4px;
	width: 4px;
}

.zoom-5 .city.small .marker {
	height: 8px;
	width: 8px;
}

.zoom-5 .city.med .marker {
	height: 12px;
	width: 12px;
}

.zoom-5 .city.large .marker {
	height: 16px;
	width: 16px;
}

.zoom-5.single #map {
	border: 1px dashed #333;
	height: 600px;
	width: 600px;
}

.zoom-5.single .tile {
	float: left;
	height: 10%;
	width: 10%;
}

.zoom-5.single #map .library {
	background-image: url('../images/library.png');
}

.zoom-5.single #map .university {
	background-image: url('../images/university.png');
}

.single #map .stadium {
	background-image: url('../images/stadium.png');
}

/* -------- ZOOM LEVEL SIX -------------- */

.zoom-6.home #map {
	height: 900px;
	width: 900px;
}

.zoom-6 #landmass {
	height: 150px;
	width: 150px;
}

.zoom-6 .city.tiny .marker {
	height: 5px;
	width: 5px;
}

.zoom-6 .city.small .marker {
	height: 10px;
	width: 10px;
}

.zoom-6 .city.med .marker {
	height: 15px;
	width: 15px;
}

.zoom-6 .city.large .marker {
	height: 20px;
	width: 20px;
}