/* ----------- MENU ICONS ------- */

#menu-posts .wp-menu-image {
	background: url('../images/building-icon.png') no-repeat 6px -17px !important;
}

#menu-posts:hover .wp-menu-image, 
#menu-posts.wp-has-current-submenu .wp-menu-image {
	background-position: 6px 7px!important;
}

/* -------- TO DO PAGE ---------- */

#acf-todo-list .version {
	width: 10%;
}

#acf-todo-list .version_items {
	width: 75% !important;
}

#acf-todo-list .completed {
	width: 15% !important;
}