// ----- Imports
@import 'compass';

// ----- Colors

$sand: #da7;
$sea-blue: #4d5989; .sea-blue { color: $sea-blue; }
$grey: #777; .grey { color: $grey; }
$green: #7eb073; .green { color: $green; }
$red: #e03840; .red { color: $red; }

// ----- General styles and structure

* {
	@include box-sizing(border-box);
	font-family: 'Open Sans', sans-serif;	
}

::selection { background: $grey; }
::-moz-selection { background: $grey; }

body { 
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

#main {
	padding: 60px 20px 160px;
	position: relative;
}

a,
a:visited {
	color: $sea-blue;
	text-decoration: none;
	
	&:active,
	&:hover {
		color: lighten($sea-blue, 15%);
	}
}

// ----- Mixins
@mixin tight {
	margin: 0;
	padding: 0;
}
@mixin open {
	font-family: 'Open Sans', sans-serif;
}

// ----- Pages

.container {
	margin: 0 auto;
	width: 60%;
	@media screen and (max-width: 1200px) {
		width: 80%;
	}
	@media screen and (max-width: 960px) {
		width: 100%;
	}

	.header {
		background: $green;
		display: inline-block;
		margin: 0;
		padding: 5px 30px;
		@media screen and (max-width: 800px) {
			padding: 5px 15px;
		}
	}

	.content {
		padding: 20px 30px;
		@media screen and (max-width: 800px) {
			padding: 10px 15px;
		}

		a { 
			border-bottom: 1px dotted;
			&[role="button"],
			&.mceResize {
				border-bottom: 0 none;
			}
		}
	}
}

// ----- Forms, inputs, buttons

input {
	border: 1px solid;
	font-family: 'Open Sans', sans-serif;
	padding: 3px;
	&:focus {
		@include box-shadow(inset 0 0 6px $green);
	}
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::-webkit-input-placeholder { color: #333; }
:-moz-placeholder { color: #333;}

.button {
	background: $green;
	border: 0 none;
	@include border-radius(0);
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	white-space: normal;

	a {
		border-bottom: 0 none !important;
		color: #fff;
		&:active,
		&:hover {
			background: none transparent;
			color: #fff;
		}
	}

	&:active,
	&:hover {
		background: lighten($green, 10%);
	}
}
a.button { 
	border-bottom: 0 none !important;
	color: #fff; 
	&:active,
	&:hover { color: #fff; }
}
div.button,
span.button,
li.button {
	padding: 0;
	a {
		border-bottom: 0 none !important;
		display: block;
		padding: 5px 10px;
	}
}



// ----- Alerts

#alert {
	background: #fff;
	border-top: 5px solid $red;
	@include box-shadow(0 0 10px #333);
	left: 20%;
	padding: 20px;
	position: absolute;
	top: 100px;
	width: 60%;
	z-index: 9999;

	a {
		border-bottom: 1px dotted;
	}

	.close-box {
		cursor: pointer;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: lighter;
		font-size: 12px;
		letter-spacing: 1px;
		position: absolute;
		right: 3px;
		top: 5px;
		&:hover {
			color: #555;
		}
	}

	@media screen and (max-width: 960px) {
		left: 10%;
		width: 80%;
	}
}

/* ------- MAIN PAGE -------- */

.category { 
	#main {
		height: 820px;
		overflow: hidden;
	}
}

#map,
.map {
	@include box-sizing(content-box);
	height: 600px;
	margin: 0 auto;
	position: relative;
	width: 600px;

	.home & {
		height: 300px;
	}
}

// Neighbors
a.map { 
	@include opacity(0.85);
	position: absolute; 
	&:active,
	&:hover {
		@include opacity(1);
	}

	&#nw {
		left: -600px;
		top: -600px;
	}
	&#n {
		left: 0;
		top: -600px;
	}
	&#ne {
		left: 600px;
		top: -600px;
	}
	&#w {
		left: -600px;
		top: 0;
	}
	&#e {
		left: 600px;
		top: 0;
	}
	&#sw {
		left: -600px;
		top: 600px;
	}
	&#s {
		left: 0;
		top: 600px;
	}
	&#se {
		left: 600px;
		top: 600px;
	}
}

.home {
	#map {
		a,
		a:visited {
			float: left;
			&:active,
			&:hover{
				background: transparent none;
			}
		}
	}
}

.home,
.category {
	background-image: url(../images/terrain/water.png);
	width: 100%;

	.tile {
		background-color: $sand;
		&.scouting { background-color: lighten(gold, 15%); }

		&.sand {
			background-image: url(../images/terrain/sand.png);
		}

		&.water {
			background-color: transparent;
		}
		&.hills {
			background-image: url(../images/terrain/sand.png),
							  url(../images/terrain/hills.svg);
		}
		&.grass {
			background-image: url(../images/terrain/grass.png);
		}
		&.mountains {
			background-image: url(../images/terrain/rocks.png),
							  url(../images/terrain/mountains.svg);
		}
		&.forest {
			background-image: url(../images/terrain/forest.png);
		}
		
		.city {
			height: 60px;
			z-index: 999;

			.marker {
				display: block;
				height: 60px;
				width: 60px;
			}

			&.user-city {
				background-color: transparentize(#fff, 0.75);
			}

			@for $r from 0 through 4 {
				&.r0#{$r} .marker {
					background: url(../images/city/0#{$r}-00.png);
				}

				@for $n from 1 through 4 {
					&.r0#{$r}.n0#{$n} .marker {
						background: url(../images/city/0#{$r}-0#{$n}.png);
					}
				}
			}

			&:hover ~ .info {
				display: block;
			}

		}

		.info {
			background: #fff;
			display: none; // show under .home .tile .city:hover
			left: 20px;
			min-width: 150px;
			padding: 4px;
			position: absolute;
			top: 66px;
			z-index: 9999;

			&:before {
				background: #fff;
				content: '';
				display: block;
				height: 10px;
				position: absolute;
				@include transform(rotate(45deg));
				top: -4px;
				width: 10px;
			}

			.city-name {
				display: block;
				font-size: 18px;
				font-weight: bold;
				margin: 0;
			}

			.city-builder {
				display: block;
				font-size: 12px;
				font-style: italic;
			}

			ul {
				@include tight;
				li {
					list-style-type: none;
				}
			}
		}
	}
}

.tile {
	background: $sand;
	height: 60px;
	float: left;
	position: relative;
	width: 60px;

	&:hover {
		background-color: desaturate(darken($sand, 5%), 20%);
	}
	&.footprint {
		background: desaturate(darken($sand, 8%), 20%);
	}
	&.water:hover {
		background: none transparent;
	}

	.not-user-city & { // When checking out other users' cities, don't
		&:hover,	   // change the color of tiles on hover or activate
		&.footprint { background-color: $sand; }
	}
}

/* ------ CITY ------------ */

.single-post {
	background: url(../images/terrain/water.png);

	#main {
		margin: 0 auto;
		overflow: hidden;
		padding: 120px 20px 220px;
		width: 100%;
	}

	#map {
		background: $sand;
		border: 1px dashed #333;
	}

	.tile {
		background-size: contain;

		&.park {
			background-image: url(../images/park.png);
		}

		&.neighborhood {
			background-image: url(../images/neighborhood.png);
			@for $i from 1 through 2 {
				&[data-level="#{$i}"] {
					background-image: url(../images/neighborhood-#{$i}.png);
				}
			}
		}

		&.library {
			background-image: url(../images/library.png);
		}

		&.farm,
		&.pasture {
			background-image: url(../images/farm.svg);
			height: 120px;
			margin: 0 -60px -60px 0;
			position: relative;
			width: 120px;
			z-index: 100;
		}
		&.pasture { background-image: url(../images/pasture.svg); }

		&.fishery {
			background-image: url(../images/fishery.svg);
		}

		&.lumberyard {
			background-image: url(../images/lumberyard.svg);
		}

		&.cinema {
			background-image: url('../images/cinema.png');
		}

		&.factory {
			background-image: url(../images/factory.svg);
		}

		&.gold_mine {
			background-image: url(../images/gold-mine.svg);
		}
		&.coal_mine {
			background-image: url(../images/coal-mine.svg);
		}
		&.iron_mine {
			background-image: url(../images/iron-mine.svg);
		}
		&.uranium_mine {
			background-image: url(../images/uranium-mine.svg);
		}

		/* for ports built on the corners, they take the east- and west-facing
		   structure layout - thus the !important on the first two port declarations */
		   
		&.port[data-x="0"] {
			background: url(../images/port-e.png) !important;
			height: 60px !important;
			margin: 0 -120px 0 0 !important;
			width: 180px !important;
		}
		&.port[data-x="1"] {
			background: url(../images/port-w.png) !important;
			height: 60px !important;
			margin: 0 0 0 -120px !important;
			width: 180px !important;
		}
		&.port[data-y="1"] {
			background: url(../images/port-n.png);
			height: 180px;
			margin: -120px 0 0 0;
		}
		&.port[data-y="10"] {
			background: url(../images/port-s.png);
			height: 180px;
			margin: 0 0 -120px 0;
		}

		&.university {
			background-image: url(../images/university.svg);
		}

		&.stadium {
			background-image: url('../images/stadium.png');
			height: 120px;
			margin: 0 -60px -60px 0;
			position: relative;
			width: 120px;
			z-index: 100;
		}
	}

	.terrain {
		height: 601px;
		margin: 0 -601px -601px 0;
		position: absolute;
		width: 601px;

		&.land {
			background: $sand;
		}
		&#nw {
			left: -601px;
			top: -601px;
		}
		&#n {
			left: -1px;
			top: -602px;
		}
		&#ne {
			left: 600px;
			top: -601px;
		}
		&#w {
			left: -602px;
			top: 0;
		}
		&#e {
			left: 601px;
			top: 0;
		}
		&#sw {
			left: -600px;
			top: 601px;
		}
		&#s {
			top: 601px;
		}
		&#se {
			left: 601px;
			top: 601px;
		}
	}
}

.infobox {
	background: #e8e8e8;
	font-size: 14px;
	display: none;
	height: 100%;
	left: 0;
	padding: 20px 10px 5px;
	position: fixed;
	top: 0;
	width: 220px;
	
	.admin-bar & {
		top: 28px;
	}

	&.active {
		display: block !important;
	}

	.helper {
		clear: both;
	}

	.close-box {
		cursor: pointer;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: lighter;
		font-size: 12px;
		letter-spacing: 1px;
		position: absolute;
		right: 3px;
		top: 5px;
		&:hover {
			color: #777;
		}
	}
}

#build,
#extra {
	.terrain { text-transform: capitalize; }

	ul { 
		list-style: none;
		padding-left: 0;

		li {
			cursor: pointer;
			margin-bottom: 5px;
			&:before {
				border: 2px solid #000;
				content: '';
				cursor: pointer;
				float: left;
				height: 15px;
				margin-right: 8px;
				width: 15px;
			}
			&.chosen:before {
				background: #000;
			}
		}
	}

	input,
	.button {
		display: block;
		margin: 5px auto;
		width: 100%;
	}

	label {
		float: left;
	}

	.upgrade {
		display: none;
	}

	.name-structure {
		text-transform: capitalize;
	}
}

#alert {
	form {
		input[type="checkbox"] {
			clear: left;
			float: left;
			margin: 5px 8px 10px 0;
		}
	}
	.helper { display: none; }

	.resource-list {
		li {
			float: left;
			width: 50%;
		}
	}
}

.snap-content {
	.location {
		background: url(../images/maps/originalia.png) 6px 6px no-repeat,
						  url(../images/maps/secondo-1.png) 66px 6px no-repeat,
						  url(../images/maps/secondo-2.png) 126px 6px no-repeat,
						  url(../images/maps/secondo-3.png) 66px 66px no-repeat,
						  url(../images/maps/secondo-4.png) 126px 66px no-repeat,
						  url(../images/terrain/water.png) 0 0 repeat;

		padding: 6px;
		position: absolute;
		height: 132px;
		right: 20px;
		top: 40px;
		width: 192px;

		.marker {
			background: $red;
			border: 1px solid #fff !important;
			@include border-radius(3px);
			@include box-shadow(0 0 10px 2px #fff);
			height: 6px;
			position: absolute;
			width: 6px;
			@for $i from 1 through 10 {
				&[data-x="#{$i}"] {
					left: #{6 * $i}px;
				}
			}
			@for $i from 1 through 10 {
				&[data-y="#{$i}"] {
					top: #{6 * $i}px;
				}
			}
			&[data-region="secondo-1"] {
				margin-left: 60px;
			}
			&[data-region="secondo-2"] {
				margin-left: 120px;
			}
			&[data-region="secondo-3"] {
				margin-left: 60px;
				margin-top: 60px;
			}
			&[data-region="secondo-4"] {
				margin-left: 120px;
				margin-top: 60px;
			}
		}
	}
}


/* ------ SCOREBOARD --------- */

.page-template-pagesscoreboard-php {

	.row {
		margin: 5px 0;
		padding: 5px;

		&.current {
			background: #fdd;
		}

		div {
			float: left;
		}

		.nutzername {
			width: 40%;
		}

		.cities,
		.cash,
		.total-population {
			width: 20%;
		}
	}
	.board {
		float: left;
		margin-right: 4%;
		width: 48%;
		&:nth-child(2n+1) {
			clear: left;
		}
		&:nth-child(2n+2) {
			margin-right: 0;
		}
	}
}

// ----- User page: Profile

.profile {
	section {
		background: #fff;
		float: left;
		padding: 20px;
		margin: 0 2% 2% 0;
		width: 48%;

		&:nth-child(2n+1) {
			clear: left;
		}

		h3 {
			cursor: pointer;
			display: block;
			
			&:before {
				border: 2px solid #333;
				content: '';
				cursor: pointer;
				float: left;
				height: 15px;
				margin-right: 8px;
				width: 15px;
			}

			&.chosen {
				&:before {
					background: #555;
				}
			}
		}

		input[type="text"],
		input[type="password"] {
			display: block;
			margin: 4px 0;
			padding: 4px;
			width: 100%;
		}

		small {
			float: left;
			clear: both;
			margin-bottom: 15px;
		}
	}
	.submit {
		display: none;
		clear: both;
		float: left;
	}
}

// ----- Docket

.page-template-docket-php {
	// library
	.docket-3 form {
		text-align: center;

		input {
			display: inline-block;
		}

		input[type="radio"], 
		label {
			margin: 5px 5px 20px;
		}
	}

	.button {
		margin-top: 15px;
	}
}

// ----- Happy faces

.face {
	background-repeat: no-repeat;
	padding-left: 20px;
	&.fleeing {
		background-image: url(../images/faces/fleeing.png);
	}
	&.extremely_unhappy {
		background-image: url(../images/faces/extremely_unhappy.png);
	}
	&.very_unhappy {
		background-image: url(../images/faces/very_unhappy.png);
	}
	&.unhappy {
		background-image: url(../images/faces/unhappy.png);
	}
	&.neutral {
		background-image: url(../images/faces/neutral.png);
	}
	&.happy {
		background-image: url(../images/faces/happy.png);
	}
	&.very_happy {
		background-image: url(../images/faces/very_happy.png);
	}
	&.extremely_happy {
		background-image: url(../images/faces/extremely_happy.png);
	}
	&.flocking {
		background-image: url(../images/faces/flocking.png);
	}
}

// ----- Budget

.page-template-pagesbudget-php {

	.budget {
		margin-top: 15px;
	}

	.board {
		border: 1px solid #ccc;
		float: left;
		padding: 10px;
		margin: 0 3.5% 26px 0;
		width: 31%;
		&:nth-child(3n+3) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
		@media screen and (max-width: 800px) {
			margin-right: 4%;
			width: 48%;
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(3n+3) {
				margin-right: 4%;
			}
			&:nth-child(2n+2) {
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				clear: left;
			}
		}
		@media screen and (max-width: 480px) {
			margin-right: 0;
			width: 100%;
		}

		h3 {
			margin: 0;
			& ~ small {
				border-bottom: 1px solid #ccc;
				display: block;
				margin: 5px 0 18px;
				padding-bottom: 5px;
			}
		}

		input, label {
			display: block;
		}
		label { 
			float: left; 
			margin-right: 5%;
			width: 70%;
		}
		input { 
			border: 0 none;
			border-bottom: 1px solid $grey;
			margin: 0 0 3px 0;
			padding: 2px;
			text-align: right; 
			width: 25%; 
		}

		.alignleft {
			clear: left;
		}
	}
	
	input[type="checkbox"] { margin-right: 8px; }
	input[type="submit"] { text-align: center; }

	section {
		border-top: 1px solid #ccc;
		margin-top: 10px;
		padding-top: 5px;
	}

	.state {
		border: 1px solid #ccc;
		clear: both;
		font-size: 120%;
		padding: 15px 30%;
		@media screen and (max-width: 800px) {
			padding: 15px 40px;
		}
		@media screen and (max-width: 480px) {
			padding: 10px 15px;
		}

		h3 {
			margin: 0.5em 0;
		}

		.income {
			margin-top: 20px;
		}

		.net {
			border-top: 1px solid #ccc;
			margin-top: 0.2em;
			padding-top: 0.2em;
		}

		span {
			float: right;
		}
		
	}

	.again {
		&:hover {
			background: #fff;
		}
	}

	.button { 
		display: block;
		margin: 20px auto 0;
	}
}

.funding-bad 	   { background: #f49996; }
/*
	Base green for fair thru excellent: #49b315
*/
.funding-fair      { background: lighten($green, 25%); }
.funding-good      { background: lighten($green, 12%); }
.funding-excellent { background: $green; }

// ----- Messages

.menu-messages-menu-container {
	ul {
		height: 30px;
		padding-left: 0;
	}
	li {
		float: left;
		font-size: 14px;
		list-style: none;
		margin-right: 10px;
		text-transform: uppercase;
	}

}

.messages {
	list-style: none;
	overflow: hidden;
	padding-left: 0;
}
.message {
	list-style-type: none;
	margin-bottom: 5px;
	position: relative;
	&.first {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		padding-bottom: 5px;
	}
}
.unread {
	font-weight: bold;
}
.name {
	clear: left;
	float: left;
	padding-right: 10px;
	width: 25%;
}
.subject {
	float: left;
	padding-right: 10px;
	width: 60%;
}
.date {
	float: left;
	text-align: right;
	width: 15%;
}

	// ----- Write
	.write-to {
		margin: 10px 0 20px;
	}
	#write-subject {
		margin-bottom: 20px;
	}
	.wp-editor-tools { display: none; } // hide visual / html option
	#wp-write-wrap * { @include box-sizing(content-box); }

	// ----- Single
	.message-content {
		clear: both;
		margin-top: 20px;
	}
	.trade {
		input[type="radio"] {
			margin-right: 8px;
		}
		.button {
			margin-top: 15px;
		}
	}

/* ------ TOOLBAR ------------ */

#toolbar {
	background: #ddd;
	border-top: 1px solid #ccc;
	bottom: 0;
	@include box-shadow(0 0 12px #666);
	height: 100px;
	padding: 15px;
	position: fixed;
	width: 100%;
	z-index: 9998;
	@media screen and (max-width: 960px) {
		height: auto;
		position: relative;
	}

	.return {
		float: left;
		min-height: 2px;
		width: 160px;
		a {
			float: left;
			clear: left;
			margin: 2px 0;
		}
		@media screen and (max-width: 960px) {
			height: auto;
			width: 100%;
			a {
				clear: none;
				margin-right: 20px;
			}
		}
	}

	.module {
		background: #f2f2f2;
		border: 1px solid #ccc;
		float: left;
		margin-right: 15px;
		max-width: 400px;
		min-width: 160px;
		padding: 5px 8px;
		position: relative;
		top: -30px;

		p {
			margin: 0;
		}
		@media screen and (max-width: 960px) {
			background: none transparent;
			border: 0 none;
			margin: 15px 0;
			max-width: 100%;
			padding: 0;
			top: 0;
			width: 100%;
		}
	}

	#loginform {
		width: 330px;
		
		.login-remember {
			float: left;
			width: 130px;
			input {
				margin-top: 4px;
			}
		}

		input {
			font-size: 13px;
			float: right;
			margin-bottom: 3px;
		}

		p {
			clear: both;
		}

		.forgetmenot {
			clear: left;
			float: left;
			width: 130px;
			label {
				float: left;
			}
			input {
				float: none;
			}
		}

		.login-submit {
			clear: none;
			float: right;
		}

		input[type="submit"] {
			background: $green;
			border: 0 none;
			@include border-radius(0);
			color: #fff;
			display: inline-block;
			font-size: 14px;
			margin-top: 4px;
			padding: 5px 10px;
			text-align: center;
			text-transform: uppercase;

			&:active,
			&:hover {
				background: lighten($green, 10%);
			}
		}
	}

	.create {
		background: #fff;
		@include border-radius(0 10px 10px 0);
		display: block;
		left: 0;
		padding: 10px;
		position: absolute;
		top: -80px;
	}

	.nav {
		float: right;
		width: 250px;

		ul {
			@include tight;
			li {
				float: left;
				margin: 0 4% 10px 0;
				list-style-type: none;
				width: 48%;
				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}
		}

		@media screen and (max-width: 960px) {
			float: left;
			text-align: left;
		}
	}
}

#version {
	position: fixed;
	right: 5px;
	top: 5px;
	.admin-bar & {
		top: 33px;
	}
}