@import "base";
@import "layout";
@import "forms";

// ----- Colors

$sand: #da7;
$sea-blue: #4d5989; .sea-blue { color: $sea-blue; }
$grey: #777; .grey { color: $grey; }
$green: #7eb073; .green { color: $green; }
$red: #e03840; .red { color: $red; }
$yellow: lighten(gold, 15%); .yellow { color: $yellow; }

// ----- General styles and structure

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

::selection { background: $grey; }
::-moz-selection { background: $grey; }

.ocean {
	background: #4d5989;
}

#map {
	display: block;
	margin: 150px auto 0;
	width: 400px;
}

.tile {
	cursor: pointer;

	&.sand { fill: #dc8; &:hover { fill: darken(#dc8, 10%); } }
	&.hills { fill: #ab9; &:hover { fill: darken(#ab9, 10%); } }
	&.grass { fill: #8c7; &:hover { fill: darken(#8c7, 10%); } }
	&.mountains { fill: #999; &:hover { fill: darken(#999, 10%); } }
	&.forest { fill: #5a5; &:hover { fill: darken(#5a5, 10%); } }
}