.login {
	h1 {
		a {
			background:none transparent;
			text-indent:0;
			text-align:center;
			color:#444;
			text-decoration:none;
			font-weight:normal;
			overflow:visible;
			padding-bottom:0;
		}
		&:hover {
			color: #999;
		}
	}
}