extends layout

block content
	svg(width="600", height="600")
		each region in regions
			g(class="region", data-id="" + region.id)
				each tile in region.tiles
					rect(x= tile.x, y= tile.y, width= tile.width, height= tile.height, class= "tile " + tile.class)