@import "vars";
@import "layout";
@import "forms";

// ----- Colors

.sand { color: $sand; }
.sea-blue { color: $sea-blue; }
.grey { color: $grey; }
.green { color: $green; }
.red { color: $red; }
.yellow { color: $yellow; }

// ----- General styles and structure

* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	position: relative;
}

body {
	color: #666;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

::selection { background: $grey; }
::-moz-selection { background: $grey; }

.ocean {
	background: #4d5989;
}

.map {
	display: block;
	height: 400px;
	margin: 0 auto;
	top: 150px;
	width: 400px;

	// position the neighbor where the map is,
	// but absolutely (and reposition for individual cardinal directions)
	&.neighbor {
		opacity: 0.85;
		margin-left: -200px;
		left: 50%;
		position: absolute;
	}
}
	#nww, #nw, #n, #ne, #nee {
		top: -250px;
	}
	#sww, #sw, #s, #se, #see {
		margin-bottom: -80px;
		top: 550px;
	}
	#nww, #sww, #ww {
		margin-left: -1000px;
	}
	#nw, #sw, #w {
		margin-left: -600px;
	}
	#nee, #see, #ee {
		margin-left: 600px;
	}
	#ne, #se, #e {
		margin-left: 200px;
	}

.tile {
	cursor: pointer;

	// Fills for various terrains.
	// Class 'original' targets the original (not-neighbor) city
	&.sand { fill: #dc8; .original &:hover { fill: darken(#dc8, 10%); } }
	&.hills { fill: #ab9; .original &:hover { fill: darken(#ab9, 10%); } }
	&.grass { fill: #8c7; .original &:hover { fill: darken(#8c7, 10%); } }
	&.mountains { fill: #999; .original &:hover { fill: darken(#999, 10%); } }
	&.forest { fill: #5a5; .original &:hover { fill: darken(#5a5, 10%); } }
	&.water { fill: transparent; }

}

#version {
	color: #fff;
	position: fixed;
	right: 10px;
	top: 10px;
}

#alert {
	background: #fff;
	border-top: 5px solid $red;
	box-shadow: 0 0 10px #333;
	left: 20%;
	padding: 20px;
	position: absolute;
	top: 100px;
	width: 60%;
	z-index: 9999;

	a {
		border-bottom: 1px dotted;
	}

	.close-box {
		cursor: pointer;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: lighter;
		font-size: 12px;
		letter-spacing: 1px;
		position: absolute;
		right: 3px;
		top: 5px;
		&:hover {
			color: #555;
		}
	}

	@media screen and (max-width: 960px) {
		left: 10%;
		width: 80%;
	}
}